<footer class="alert alert-info" style="bottom:0; position:fixed; width: 100%; margin: 0;">
    &copy; 2016 | Lab 5
</footer>

<script src="/javascript/jquery-3.1.1.min.js"></script>
<script src="/javascript/scripts.js"></script>

</body>
</html>