<% include partials/header.ejs %>

<main class="container">
    <h1>Register</h1>

    <form method="post" onsubmit="return myFunction()">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username: *</label>
            <input name="username" id="username" required />
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password: *</label>
            <input name="password" id="password" type="password" required />
        </div>
        <div class="form-group">
            <label for="confirm" class="col-sm-2 control-label">Confirm: *</label>
            <input name="confirm" id="confirm" type="password" required />
        </div>
        <div class="form-group">
            <button class="btn btn-success col-sm-offset-2">Register</button>
            <hr />
            Already have an account?  <a href="/login" title="Login">Login</a>
        </div>

    </form>

</main>

<script>
function myFunction() {
var pass1 = document.getElementById("password").value;
var pass2 = document.getElementById("confirm").value;
var ok = true;
if (pass1 != pass2) {
alert("Passwords Do not match");
ok = false;
}
else {

}
return ok;
}
</script>

<% include partials/footer.ejs %>